{{#if resume.volunteer.length}}
<div class="container">
  {{> title-light value="Volunteer"}}

  {{#each resume.volunteer}}
  <section class="px-4 mt-4 space-y-2">
    <div class="flex border-b border-zinc-800">
      <h5 class="flex-auto py-1">
        <span class="font-medium">{{ organization }}</span> | {{ position }}
      </h5>
      <div class="flex-none text-right">
        <h5>
          {{#if startDate}}
          <span class="startDate">{{formatDate startDate}}</span>
          {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}</span>
          {{else}}
          <span class="endDate"> - Present</span>
          {{/if}}
          {{else if releaseDate}}
          {{formatDate releaseDate}}
          {{/if}}
        </h5>
      </div>
    </div>
    <div>
      {{#if summary}}
      <p>{{ summary }}</p>
      {{/if}}
    </div>
  </section>
  {{/each}}
</div>
{{/if}}
