{{#if resume.work.length}}
<div class="container">
  {{> title-light value="Experience"}}

  {{#each resume.work}}
  <section class="px-4 mt-4 space-y-2">
    <div class="flex border-b border-zinc-800">
      <h5 class="flex-auto py-1">
        <span class="font-medium">{{ position }}</span> | {{ company }}
      </h5>
      <div class="flex-none text-right">
        <h5>
          {{#if startDate}}
          <span class="startDate">{{formatDate startDate}}</span>
          {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}</span>
          {{else}}
          <span class="endDate"> - Present</span>
          {{/if}}
          {{else if releaseDate}}
          {{formatDate releaseDate}}
          {{/if}}
        </h5>
      </div>
    </div>

    {{#unless compact}}
    <div>
      {{#if summary}}
      <p>{{ summary }}</p>
      {{/if}}

      {{#if highlights.length}}
      <ul class="list-outside ml-6 font-light">
        {{#each highlights}}
        <li class="list-disc">{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/unless}}

    {{#if keywords.length}}
    <div>
      {{#each keywords}}
      <span
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800"
        >{{.}}</span
      >
      {{/each}}
    </div>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
