<div class="flex-none">
  {{#if icon}}
  <i class="{{ icon }}"></i>
  {{/if}}
  {{#if url}}
  <a href="{{ url }}" target="_blank">
    {{ text }}
    <i class="fa-solid fa-external-link" aria-hidden="true"></i>
  </a>
  {{else}}
  <span class="info-text">{{{text}}}</span>
  {{/if}}
</div>
